# LaTeX artifact files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.dvi
*.ps
*.pdf
*.gz
*.backup
*.spl
*.run.xml
*.thm
*.idx
*.ilg
*.ind
*.bst
*.bib
# *.sty
*.bcf

elsarticle-template.tex

assets/attachments/
.vscode/